<header>
    <section class="header-box">

        <div class="logo">
            <img src="/img/logo.png" alt="logo">
        </div>

        <nav>
            <ul>    
                <li><a href="/">Inicio</a></li>
                <li><a href="/productList">Productos</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/administrador">Vendedor</a></li>
                <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
        <div class="menu-burger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </section>

</header>