<section class="categorias">

    <h2>categorias</h2>

    <ul>
        <li><a href="/productList ">Todos</a></li>
        <li><a href="/categorias/<%= headset %> ">Headset</a></li>
        <li><a href="/categorias/<%= mouse %> ">Mouse</a></li>
        <li><a href="/categorias/<%= teclado %> ">Teclado</a></li>
    </ul>

</section>