<section class="categorias">

    <h2>Categorias</h2>

    <ul>
        <li><a href="/productList ">Todos</a></li>
        <% categorias.forEach(element => { %>
            <li><a href="/categorias/<%= element.toLowerCase() %> "><%= element %></a></li>
        <% }) %>
    </ul>

</section>