<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto personal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <section class="header-box">

            <div class="logo">
                <img src="/img/logo.png" alt="logo">
            </div>

            <nav>
                <ul>    
                    <li><a href="/">Home</a></li>
                    <li><a href="/productDetail">Productos</a></li>
                    <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
            <div class="menu-burger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </section>

    </header>

    <main>
        <section class="main-section">

            <article class="section-img">
                <h3>imagen</h3>
            </article>

        </section>

        <section class="main-section2">
            
            <h3>¿Por que comprar con nosotros?</h3>

            <article>

                <div>
                    <p>Servicio de entrega</p>
                    <i class="fa-solid fa-truck-fast"></i>
                </div>

                <div>
                    <p>Garantía</p>
                    <i class="fa-solid fa-medal"></i>
                </div>

                <div>
                    <p>Soporte en línea</p>
                    <i class="fa-solid fa-headset"></i>
                </div>
            </article>

        </section>

        <section class="main-section3">

            <article>
                <h3>Redes</h3>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </article>

            <article>
                <h3>Recibir Novedades</h3>
                <input type="text" name="user" name="email" required placeholder="USUARIO / EMAIL">
                <button class="bottom-novedades" type="submit">Recibir</button>  
            </article>

        </section>


    </main>

    <footer>

    </footer>
    
</body>
</html>