<!DOCTYPE html>
<html lang="en">

    <!--Head-->
    <%- include ("./partials/head")  %> 
    
    <body>

    <!--Header-->    
    <%- include ("./partials/header")  %>

    <main>
        <section class="register-form">

            <form action="/" method="POST">

                <label class="label" for="Datos-usuario">Datos Usuario</label>

                <input type="text" name="name" required placeholder="Nombre">
                <input class="right-apellido" type="text" name="name" required placeholder="Apellido">
                <input type="number" name="Documento" required placeholder="Documento">

                <input type="number" name="telephone" required placeholder="Telefono">
                <input class="right-email" type="email" name="email" required placeholder="Email">
                <br>

                <label for="Datos-envio">Datos de Envío</label>

                <input type="texto" name="Calle" required placeholder="Calle">
                <input type="number" name="adress" required placeholder="Numero">
                <input type="number" name="Piso" placeholder="Piso">
                <input type="texto" name="Depto" placeholder="Depto">
                <input type="texto" name="Postal" required placeholder="Codigo Postal">
                <input type="texto" name="Ciudad" required placeholder="Ciudad">
                <input type="texto" name="Provincia" required placeholder="Provincia">

              <br>     
                <button class="bottom-register" type="submit">Crear Usuario</button>

        </section>    

    </main>

    <!--Footer-->
    <%- include ("./partials/footer")  %> 
    
</body>
</html>