

/*INDEX*/

.main-section article img {
    width: 100%;
}

.main-section2 {    
    margin-top: 10px;
    padding-top: 5px;
    border: solid var(--lila) 2px;
    text-align: center;
}

.main-section2 h3 {
    font-size: 1.1rem;
}

.main-section2 article {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

.main-section2 article div {
    padding: 5px;
    width: 80%;
}

.main-section2 article div i {
    font-size: 2rem;
}

.main-section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.main-section3 article {
    text-align: center;
    margin-top: 10px;
}

.main-section3 article a {
    
    text-decoration: none;

}

.main-section3 article img {
    width: 90%;
}

@media (min-width: 576px) {

    .main-section2 article div {
        width: 30%;
    }
    .main-section3 article {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .main-section2 h3 {
        font-size: 1.2rem;
    }
    .main-section3 {
        justify-content: space-between;
    }
    .main-section3 article {
        width: 33%;
    }
}


/*------------------------*/

/*PRODUCT DETAIL*/
.detail-main {
    margin-left: auto;
    margin-right: auto;
    
}

.detail-main div {
    text-align: center;
}

.detail-main img {
    width: 80%;
}

@media (min-width: 576px) {
    .detail-main img {
        width: 65%;
    }
}
@media (min-width: 768px) {
    .detail-main img {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .detail-main img {
        width: 45%;
    }
}

/*--------------------------------*/
/*PRODUCT LIST*/

.products-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid var(--lila) 2px;
    width: 90%;
    padding: 10px;   
    margin: 5px;
}

.product img {
    width: 50vw;
}

.product h3 {
    font-size: 14px;
}

.product__basics {
    padding: 10px;
    text-align: center;
}
.product__detail {
    margin-right: 20px;
    padding: 20px;
    font-size: 12px;
    
}

.product button {
    padding: 5px;
    background: #000;
    color: #fff;
    border: solid var(--amarillo) 1px;
    font-size: 12px;
    margin-bottom: 10px;
}

@media (min-width: 480px) {
    .product {
        flex-direction: column;
    }

    .product img {
        width: 30vw;
    }
}

@media (min-width: 768px) {

    .product {
        flex-direction: row ;
    }

    .product img {
        width: 15vw;
    }

    .products-main article {
        
        justify-content: space-between;
    }

    .product h3 {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .products-main article {
        width: 70%;
    }
    .product img {
        width: 10vw;
    }
}

/*------------------------*/

/*LOGIN*/

.login-form {
    margin-top: 20px;
    border: solid var(--lila) 2px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 50px 0 50px 10px;
    
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.login-form form input {
    padding: 5px;
    margin-top: 15px;
    width: 100%;
}

.login-form form button {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    background-color: var(--lila);
}

.login-form a {
    text-decoration: none;
    color: #000;
    margin-top: 10px;
    font-size: 14px;
}

@media (min-width: 768px) {
    
    .login-form {
        width: 70%;
    }
}

@media (min-width: 1024px) {

    .login-form {
        width: 50%;
    }
}

@media (min-width: 1680px){

    .login-form {
        width: 30%;
    }
}


/*------------------------*/

/*REGISTER*/

.register-form {
    border: solid var(--lila) 2px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 30px;
}

.register-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.register-form form input {
    padding: 5px;
    margin-top: 15px;
    width: 100%;
}

.register-form form button {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    background-color: var(--lila);
}

@media (min-width: 768px) {
    
    .register-form {
        width: 70%;
    }
}

@media (min-width: 1024px) {

    .register-form {
        width: 50%;
    }
}

@media (min-width: 1680px){

    .register-form {
        width: 30%;
    }
}


/*------------------------*/

/*PRODUCT CART*/

.productosCarrito {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

.productosCarrito__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid var(--lila) 2px;
    width: 100%;
    margin-bottom:  10px;
    padding: 10px;
}


.productosCarrito__item img {
    width: 30vw;
}

.productosCarrito__total {
    text-align: right;
}

.productosCarrito__total button {
    padding: 5px;
    background: #000;
    color: #fff;
    border: solid var(--amarillo) 1px;
    font-size: 12px;
    margin-bottom: 10px;
}

.productosRecomendados_imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.productosRecomendados_imagenes img {
    width: 30vw;
}

@media (min-width: 768px) {
    
    .productosCarrito__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .productosCarrito__item img {
        width: 15vw;
    }

    .productosRecomendados_imagenes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .productosRecomendados_imagenes img {
        width: 15vw;
    }
}
